form{
    width: 100%;
    text-align: center;
}

form > div{
    margin-bottom: 15px;
}

form > div > div{
    margin-bottom: 8px
}

input[type='submit']{
    background-color: #007bff;
    color: #fff;
    padding: 10px 55px;
    border: none;
    border-radius: 2px;
}